<h1>
  <header class="blog-header py-3 underline">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" routerLink="/about">О нас</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark text-header" routerLink="/">Соцсеть Димаса</a>
      </div>
      <div class="col-4 pt-3 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-secondary" routerLink="/login" *ngIf="!auth.isLoggedIn">Вход</a>
        <button class="btn btn-sm btn-outline-secondary" (click)="logOut()" *ngIf="auth.isLoggedIn">Выход</button>
      </div>
    </div>
  </header>
</h1>

<div class="container">
  <router-outlet></router-outlet>
</div>
